.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
  font-size: 16px;
}

#examples {
  font-size: 16px;
  color: #4c5363;
  text-align: left;
}



input {
  font-size: 16px;
  margin: 0px;
}

label {
  font-size: 16px;
  margin: 0px;
}